#feature-tabs-tab-Map{
    background-color: #AFF4C6;
}

#feature-tabs-tab-Fav{
    background-color: #FFD8D5;
}

#feature-tabs-tab-Route{
    background-color: #D1ECFF;
}

.nav.nav-tabs{
    background-color: white;
}