.modal-content{
    background-color: #F3F4F6;
    box-shadow: 0 0 10px rgba(50, 50, 50, 1);
}

.delete-event-modal{
    background-color: rgb(224, 209, 209);
    padding: 20px;
    border-radius: 5px;
}

.offcanvas-body{
    padding: 0;
}