#websiteContainer{
    display: flex;
}

#websiteContainer > a{
    padding: 0 8px;
}

.eventDeleteBtn{
    position: absolute;
    width: 40px;
    height: 40px;
    z-index: 2;
    bottom: 0;
    right: 0;
}

.eventDeleteBtn:hover{
    color: red;
}

.iconBtn{
    border: none;
    background-color: transparent;
}

.eventDetailField, .eventAddressContainer{
    padding: 0 15px;
    align-items: baseline;
}

.eventDetailDate > div{
    height: 40px;
    width: 170px;
}


.eventDetailTitle{
    padding: 5px 10px;
    font-family: 'Dancing Script', 'serif';
    font-size: 25px;
}

.eventDetailTime > div{
    height: 40px;
    width: 170px;
}

.eventDetailInput{
    background-color: transparent!important;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid black;
    font-size: 15px;
    font-family: 'Quicksand', 'serif';
}

.eventAddressContainer .eventDetailInput{
    padding: 0 15px;
}

.eventDetailField > a{
    display: block;
}

.eventName{
    font-family: 'Edu SA Beginner', 'serif';
    font-size: 35px;
}

.businessHourContent{
    font-family: 'Edu SA Beginner', 'serif';
}