.eventItemContainer {
    background-color: #F3F4F6;
    width: 250px;
    height: 80px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 10px 0;
    padding: 10px;
    touch-action: pan-y;
    box-shadow: 0 1px 3px grey;
}

.dragHandle {
    font-size: 5px;
    padding: 0 5px;
    margin: 0;
    cursor: grab;
    z-index: 3;
}

.dragHandle:hover {
    background-color: rgba(50, 50, 50, 0.1);
    border-radius: 5px;
}

.detailBtn {
    border: none;
    border-radius: 10px;
    background-color: transparent;
    padding: 5px 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 0;
}

.detailBtn:hover {
    background-color: rgba(50, 50, 50, 0.5);
}

.eventItemDiv{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.eventItemCategory{
    color: rgba(50, 50, 50, 0.5);
    font-family: 'Quicksand', 'serif';
    font-size: 14px;
}

.eventItemName{
    font-family: 'Edu SA Beginner', 'serif';
    font-size: 23px;
}

@media screen and (max-width: 450px) {
    .eventItemContainer {
        width: 150px;
        height: 80px;
    }
}