.RouteInfoContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-around;
    width: 100%;
    height: 100%;
    background-color: transparent;
    padding: 10px;
}

.wayPointInfo{
    padding: 10px;
}

.routeInfoDiv{
    padding: 5px 0;
}