#sign-up-form-div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2{
    font-family: 'Fasthand', cursive;
    font-size: 48px;
}

.sign-up-btn{
    width: 100%;
    margin-top: 13px;
}

.sign-up-labels{
    font-family: 'Dancing Script', cursive;
    font-size: 24px;
}

.sign-up-row {
    position: relative;
    margin-top: 5px;
}

.sign-up-row:last-of-type{
    margin-bottom: 10px;
}

.error-msg {
    position: absolute;
    padding: 0;
    right: 0;
    z-index: 1;
    color: red;
    background-color: transparent;
    font-size: 13px;
    border: none;
}

#login-link-div {
    margin-top: 30px;
}

#login-link {
    font-weight: bolder;
    color: black;
}

.form-lbale{
    margin: 0;
}

@media screen and (max-width: 450){
    .error-msg {
        font-size: 10px;
    }
}