#sign-up-form-div {
    min-height: 75vh;
    min-width: 75vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}

h2{
    font-family: 'Fasthand', cursive;
    font-size: 48px;
}

.sign-up-labels{
    font-family: 'Dancing Script', cursive;
    font-size: 24px;
}

.sign-up-row {
    position: relative;
}

.error-msg {
    position: absolute;
    padding: 10px;
    margin-top: 3px;
    right: 0;
    z-index: 1;
}

#login-link-div {
    margin-top: 30px;
}

#login-link {
    font-weight: bolder;
    color: black;
}