.TripEventContainer {
    display: flex;
    padding: 5px 15px;
    height: 95%;
}

.scheduleOuterContainer {
    height: 100%;
    width: 100%;
}

.TripEventHeader {
    display: flex;
    padding: 5px 15px;
    justify-content: space-between;
}

#mapBtn{
    font-family: 'Quicksand', 'serif';
}

@media screen and (max-width: 450px){
    .TripEventContainer{
        padding: 0;
    }
}